<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SQCustomButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E4A95C41F6795D700DA842C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E4A95DD1F6795D800DA842C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E4A95E81F6795D800DA842C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
